
body {
	padding: 0;
	margin: 0;
	border: 0 none;
	outline: 0;
	vertical-align: baseline;
	font-family: Helvetica, sans-serif;
	font-size: 100%;
	color: #d7d7d7;
	background-color: #263844;
}

*{
	box-sizing: border-box;
}

header {
	margin-left: 20px;
}

h1, h2 {
	font-size: 4em;
	color: #d34c2a;
}

h2 {
	color: #fef100;
}

p, a {
	font-size: 1.75em;
}

a {
	text-decoration: none;
	color: #d7d7d7;
}

a:hover {
	color: #fef100;
}

.container {
	padding: 0;
	margin: 10px;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.item {
	width: 30%;
	padding: 10px;
	color: #263844;
}

h3 {
	font-size: 3vw;
	color: #263844;
}
.footer-item {
	width: 50%;
	max-width: 776px;
	padding: 10px;
}

.contact {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.item-image {
	position: relative;
}

img {
	width: 100%;
}

.title {
	position: absolute;
	text-align: center;
	width: 100%;
	margin: auto;
	top: 45%;
	left: 2%;
	z-index: 99;
}

.project-item {
	width: 50%;
	color: #d7d7d7;

}



/* === Media Queries ===*/

@media screen and (max-width: 1024px) {
h1, h2 {
	font-size: 3.5em;
}

p, a {
	font-size: 1.5em;
}

.item {
	width: 50%;
	padding: 10px;
}

h3 {
	font-size: 1.75em;
}}


@media screen and (max-width: 770px){
h1, h2 {
	font-size: 3.25em;
}

p, a {
	font-size: 1.5em;
}

.item {
	width: 100%;
	padding: 20px 40px;
}

h3 {
	font-size: 1.75em;
}

.footer-item {
	width: 100%;
	padding: 25px;
}

.contact {
	padding: 10px 10px 100px 10px;
}}

@media screen and (max-width: 435px){
h1, h2 {
	font-size: 2.75em;
}
p, a {
	font-size: 1.25em;
}

.item {
	width: 100%;
	padding: 5px 10px;
	font-size: .75em;
}

.footer-item{
	width: 100%;
	padding: 15px;
}

.contact {
	padding: 10px 10px 50px 10px;
}}

